@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText/SFProText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText/SFProText-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText/SFProText-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText/SFProText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

