:root {
  --Text-Default: #202223;
  --Text-On-Interactive: #fff;
  --Text-Subdued: #6D7175;
  --Text-Highlight: #347C84;
  --Icon-Highlight: #00A0AC;
  --Action-Secondary-Hovered: #F6F6F7;
  --Border-Default:#8C9196;
}