:root {
  --Text-Default: #202223;
  --Text-Subdued: #6d7175;
  --Text-Highlight: #347c84;
  --Text-Disabled: #8c9196;
  --Text-On-Primary: #FFF;
  --Text-Active: #80cfd5;
  --Text-Success: #008060;
  --Text-On-Interactive: #fff;
  --Text-Highlight:#347C84;
  --Text-Interactive-Default: #2c6ecb;
  --Text-input-border: #a7acb1;
  --Icon-Highlight: #00a0ac;
  --Action-Secondary-Hovered: #f6f6f7;
  --Border-Highlight-Default: #449da7;
  --Border-Default: #8c9196;
  --Border-Neutral-Subdued: #babfc3;
  --Background-Default: #f6f6f7;
  --Button-border-gradient: #babfc3;
  --Surface-Default: #fff;
  --Action-Secondary-Pressed: #f1f2f3;
  --Header-Mob-Bg: #fff;
  --Icon-Default: #5c5f62;
  --Modals-Bg: #fff;
  --Footer-Bg: #fff;
  --Animal-Bg: #fff;
  --Promotion-Secondary-Bg: #AEE9D1;
  --Promotion-Primary-Bg: #FFD79D;
}
